@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.scrollbar-thin {
    scrollbar-width:thin;
  }
  
  .scrollbar-thumb-rounded {
    scrollbar-color: transparent transparent;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-track {
    background: #5C8374;
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    background-color: #9EC8B9;
    border-radius: 10px;
    border: 2px solid #5C8374;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  